<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <title>
            {{ block "title" . }}
                {{ .Site.Title }}
            {{ end }}
        </title>
    </head>
    <body>
        <header>
            <a href="/">
            {{ partial "logo.svg" }}
            </a>
            {{ with site.Menus.main }}
            <nav>
                <ul>
                    {{ range . }}
                    <li>
                        {{ if $.IsMenuCurrent .Menu . }}
                            <a class="active" aria-current="page" href="{{ .URL }}">{{ .Name }}</a>
                        {{ else }}
                            <a href="{{ .URL }}">{{ .Name }}</a>
                        {{ end }}
                    </li>
                    {{ end }}
                </ul>
            </nav>
            {{ end }}
        </header>
        <main>
            {{ block "main" . }}
            {{ end }}
        </main>
    </body>
</html>